#svg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

#stats {
  color: white;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 100px;
  width: 300px;
  background: black;
  opacity: 0.75;

  -moz-box-shadow:0px 0px 7px #000000;
  -webkit-box-shadow:0px 0px 7px #000000;
  box-shadow:0px 0px 7px #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; 
}

#planet {
  fill: blue;
}

#target-orbit {
  stroke: #a44;
  stroke-width: 1px;
  fill: none;
}
#current-orbit {
  stroke: #4a4;
  stroke-width: 1px;
  fill: none;
}
#target-circle {
  stroke: #f33;
  stroke-width: 2px;
  fill: none;
}
#current-ship {
  stroke: #3f3;
  fill: #3f3;
}
